:host {
  display: block;
  padding: 0.5rem;
}

table {
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  table-layout: fixed;
}

th, td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 768px) {
    max-width: 42vw;
  }
}

h2 {
  color: var(--p-text-color);
}

.container {
  padding: 2rem 6vw 5vh 5vh;
}

.usuario-actual {
  background-color: var(--p-button-primary-background) !important;
}

.buscador {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 20rem;
}

.buscador-acciones {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .detalle {
    display: none;
  }
}

@media (max-width: 768px) {
  .optional {
    display: none;
  }
}

.sticky-title {
  position: sticky;
  top: 0;
  background-color: var(--p-form-field-background);
  color: var(--p-text-color);
  padding: 0.5rem 5%; 
  z-index: 100;
  border-bottom: 1px solid var(--p-form-field-border-color);
}