.stat-container {
    color: var(--p-text-color);
    padding-bottom: 15vh;
}

.chart-container {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.chart-son {
  display: block;
  padding-left: 3rem;
}

:host ::ng-deep canvas {
  height: 100% !important;
  max-height: 70vh;
  width: auto !important; 
  max-width: 90vw; 
}

.option-box {
  margin-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  gap: 1rem;
  flex-wrap: wrap; 
  justify-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.select-producto {
  margin-left: 1rem;
}

.sticky-title {
  position: sticky;
  top: 0;
  background-color: var(--p-form-field-background);
  color: var(--p-text-color);
  padding: 0.3rem 5%; 
  z-index: 100;
  border-bottom: 1px solid var(--p-form-field-border-color);
}

.sticky-subtitle {
  position: sticky;
  top: 5rem;
  background-color: var(--p-form-field-background);
  color: var(--p-text-color);
  padding: 0.3rem 5% 0 5%; 
  z-index: 50;
  border-bottom: 1px solid var(--p-form-field-border-color);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .chart-son {
  padding-left: 0;
}
}