.stat-container {
    color: var(--p-text-color);
    padding-left: 5%;
    padding-right: 10%;
}

.chart-container {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}

:host ::ng-deep canvas {
  height: 100% !important;
  max-height: 70vh;
  width: auto !important; 
  max-width: 90vw; 
}

.option-box {
  display: flex;
  flex: 1 1 100%;
  gap: 1rem;
  flex-wrap: wrap; 
}