<div *ngIf="cargando" class="loading-container">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" ariaLabel="Cargando estadísticas"/>
</div>



<div *ngIf="!cargando" class="stat-container">
  <h2>Estadísticas de Inventario</h2>
  <div class="option-box" style="flex: 1 1 100%; gap: 1rem;">
    <p-button label="Generar reporte PDF" icon="pi pi-file-pdf" (click)="generarReportePDF()"></p-button>
    <p-datepicker 
      [(ngModel)]="rangoFechas" 
      selectionMode="range" 
      dateFormat="dd/mm/yy" 
      (onSelect)="filtrar()" 
      [showIcon]="true"
      [locale]="es"
      placeholder="Selecciona un rango">
    </p-datepicker>
    <p-button label="Limpiar filtro fechas" icon="pi pi-times" (click)="limpiarFiltroFechas()" *ngIf="rangoFechas && rangoFechas.length > 1"></p-button>
    <p-select
          aria-label="Seleccionar almacén"
          [options]="almacenes"
          optionLabel="name"
          placeholder="Seleccionar almacén"
          [(ngModel)]="almacenSeleccionado"
          [filter]="true"
          [showClear]="true"
          (onChange)="filtrar()"
          dropdownIcon="pi pi-warehouse">
        </p-select>

        <p-select
          aria-label="Selecciona una categoria"
          [options]="categorias"
          optionLabel="name"
          placeholder="Seleccionar categoria"
          [(ngModel)]="categoriaSeleccionada"
          (onChange)="filtrar()"
          [filter]="true"
          [showClear]="true"
          dropdownIcon="pi pi-filter">
        </p-select>
  </div>    
  <div class="chart-box" style="flex: 1 1 100%;">
    <h3>Ventas mensuales por producto</h3>
  
    <p-select 
      [options]="productosFiltrados" 
      optionLabel="label"
      [(ngModel)]="productoSeleccionado" 
      placeholder="Seleccionar producto"
      (onChange)="onSkuChange()"
      [filter]="true" 
      [showClear]="true">
    </p-select>
    <p-chart 
      type="line" 
      [data]="chartVentasMensuales" 
      [options]="optionsV" 
      [responsive]="true" 
      *ngIf="chartVentasMensuales && productoSeleccionado">
    </p-chart>
  </div>
  
    <div class="chart-wrapper">
      <h3>Transacciones por tipo</h3>
      <p-chart type="doughnut" [data]="chartTipoTransaccion" [options]="optionsR" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <h3>Ventas por categoría</h3>
      <p-chart type="bar" [data]="chartVentasPorCategoria" [options]="optionsV" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <h3>Ventas por almacén</h3>
      <p-chart type="bar" [data]="chartVentasPorAlmacen" [options]="optionsV" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <h3>Ranking de empleados</h3>
      <p-chart type="bar" [data]="chartRankingEmpleados" [options]="optionsV" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <h3>Top 5 productos más vendidos</h3>
      <p-chart type="bar" [data]="chartRankingProductos" [options]="optionsHorizontal" [responsive]="true"></p-chart>
    </div>
</div>
