<div *ngIf="cargando" class="loading-container">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" ariaLabel="Cargando estadísticas"/>
</div>

<div *ngIf="!cargando" class="stat-container">
  <div class="sticky-title">
    <h2>Estadísticas del Inventario</h2>
  </div>
  <div class="option-box" style="flex: 1 1 100%; gap: 1rem;">
    <p-button label="Generar reporte PDF" icon="pi pi-file-pdf" (click)="generarReportePDF()"></p-button>
    <p-datepicker 
      [(ngModel)]="rangoFechas" 
      selectionMode="range" 
      dateFormat="dd/mm/yy" 
      (onSelect)="filtrar()" 
      [showIcon]="true"
      [locale]="es"
      placeholder="Selecciona un rango">
    </p-datepicker>
    <p-button label="Limpiar filtro fechas" icon="pi pi-times" (click)="limpiarFiltroFechas()" *ngIf="rangoFechas && rangoFechas.length > 1"></p-button>
    <p-select
          aria-label="Seleccionar almacén"
          [options]="almacenes"
          optionLabel="name"
          placeholder="Seleccionar almacén"
          [(ngModel)]="almacenSeleccionado"
          [filter]="true"
          [showClear]="true"
          (onChange)="filtrar()"
          dropdownIcon="pi pi-warehouse">
        </p-select>

        <p-select
          aria-label="Selecciona una categoria"
          [options]="categorias"
          optionLabel="name"
          placeholder="Seleccionar categoria"
          [(ngModel)]="categoriaSeleccionada"
          (onChange)="filtrar()"
          [filter]="true"
          [showClear]="true"
          dropdownIcon="pi pi-filter">
        </p-select>
  </div>    
  <div class="chart-box" style="flex: 1 1 100%;">
    <div class="sticky-subtitle">
      <h3>Ventas mensuales por producto</h3>
    </div>
      <p-select
        class="select-producto"
        [options]="productosFiltrados" 
        optionLabel="label"
        [(ngModel)]="productosSeleccionados[0]" 
        placeholder="Seleccionar producto"
        (onChange)="onSkuChange(0, $event.value)"
        [filter]="true" 
        [showClear]="true">
      </p-select>
      <p-select *ngFor="let producto of productosSeleccionados; let i = index"
        class="select-producto"
        [options]="productosFiltrados" 
        optionLabel="label"
        [(ngModel)]="productosSeleccionados[i + 1]" 
        placeholder="Seleccionar producto"
        (onChange)="onSkuChange(i + 1, $event.value)"
        [filter]="true" 
        [showClear]="true">
      </p-select>
    <div class="chart-son">
      <p-chart 
        class="chart"
        type="line" 
        [data]="chartVentasMensuales" 
        [options]="chartOptionsVmb"
        [responsive]="true" 
        *ngIf="chartVentasMensuales && productosSeleccionados.length > 0">
      </p-chart>
    </div>
  </div>
  
    <div class="chart-wrapper">
      <div class="sticky-subtitle">
        <h3>Transacciones por tipo</h3>
      </div>
      <p-chart class="chart-son" type="doughnut" [data]="chartTipoTransaccion" [options]="optionsR" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <div class="sticky-subtitle">
        <h3>Ventas por categoría</h3>
      </div>
      <p-chart class="chart-son" type="bar" [data]="chartVentasPorCategoria" [options]="chartOptionsV" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <div class="sticky-subtitle">
        <h3>Ventas por almacén</h3>
      </div>
      <p-chart class="chart-son" type="bar" [data]="chartVentasPorAlmacen" [options]="chartOptionsV" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <div class="sticky-subtitle">
        <h3>Ranking de empleados</h3>
      </div>
      <p-chart class="chart-son" type="bar" [data]="chartRankingEmpleados" [options]="chartOptionsV" [responsive]="true"></p-chart>
    </div>

    <div class="chart-wrapper">
      <div class="sticky-subtitle">
        <h3>Top 5 productos más vendidos</h3>
      </div>
      <p-chart class="chart-son" type="bar" [data]="chartRankingProductos" [options]="optionsHorizontal" [responsive]="true"></p-chart>
    </div>
</div>
