<!--
  Autor: Eduardo García Romera
  DNI: 54487155V
  Correo: egarcia3266@alumno.uned.es
  Título: Desarrollo de una aplicación para la gestión de inventario Online
  Descripción: Estructura base de la aplicación. Incluye Navbar y RouterOutlet para la navegación.
  Trabajo de Fin de Grado - UNED
  Derechos: Este código es propiedad de Eduardo García Romera y se reserva el derecho de uso, distribución y modificación.
-->

<app-navbar *ngIf="isAuthenticated$ | async"></app-navbar>
<router-outlet></router-outlet>
